<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">流程文件管理</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">文件管理</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div id="actionarea" class="starter-template">

        <button type="button" @click="get('add')" class="btn btn-primary">1加入流程</button>
        <button type="button" @click="get('del')" class="btn btn-primary">2删除流程</button>
        <button type="button" @click="get('list')" class="btn btn-primary">3查看流程</button>


    </div>
    <div id="actionresult">
        no result;
    </div>

</div>
<!-- /.container -->

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>


<script type = "text/javascript">
    window.onload = function(){

        var vm = new Vue({
            el:'#actionarea',
            data:{
                msg:'Hello World!',
            },
            methods:{
                get:function(action){
                   //发送get请求
                    var resultStr;
                    var searchStr;
    
                    switch(action)
                    {
                        case "add":
                            searchStr= "./add";
                            break;
                        case "del":
                            searchStr= "./del";
                            break;
                        default:
                            searchStr= "./list";

                    }

                    this.$http.get(searchStr).then(function(res){
                       resultStr = res.body;
                       alert(resultStr);
                        $("#actionresult").html(resultStr);
                    },function(){
                        console.log('请求失败处理');
                    });



                }
            }
        });
    }
</script>
</body>
</html>
